{% set COMPUTE_URL_BASE = 'https://www.googleapis.com/compute/v1/' %}

resources:
- name: {{ env["name"] }}
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: {{ COMPUTE_URL_BASE }}projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: {{ COMPUTE_URL_BASE }}projects/debian-cloud/global/images/family/debian-8
    networkInterfaces:
    - network: {{ COMPUTE_URL_BASE }}projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: external-nat
        type: ONE_TO_ONE_NAT
    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          sudo apt-get update
          sudo apt-get -y upgrade
          sudo apt-get install -y git
          sudo apt-get install -y software-properties-common python-software-properties
          sudo apt-get update
          sudo apt install -y -t jessie-backports  openjdk-8-jre-headless ca-certificates-java
          sudo apt-get install -y openjdk-8-jre
          sudo apt-get -y install apt-transport-https
          echo "deb https://dl.bintray.com/sbt/debian /" | sudo tee -a /etc/apt/sources.list.d/sbt.list
          sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
          sudo apt-get update
          sudo apt-get install -y sbt=1.0.2