{% set FIREWALL = env["deployment"] + "-firewall" %}

resources:
- name: http-server-vm
  type: tmpl-vm.jinja
  properties:
    machineType: n1-standard-2
    zone: us-central1-f
- name: rpc-server-vm
  type: tmpl-vm.jinja
  properties:
    machineType: n1-standard-2
    zone: us-central1-f
- name: http-jmh-vm
  type: tmpl-vm.jinja
  properties:
    machineType: n1-standard-1
    zone: us-central1-f
- name: rpc-jmh-vm
  type: tmpl-vm.jinja
  properties:
    machineType: n1-standard-1
    zone: us-central1-f
- name: {{ FIREWALL }}
  type: tmpl-firewall.jinja
